---
## https://groups.google.com/forum/#!searchin/grr-users/redhat/grr-users/DFuSy8VpCmk/hKQgfTn5BAAJ
## https://github.com/google/grr/blob/master/vagrant/install_linux.sh

- name: yum | grr-server dependencies packages install
  yum: name={{ _grrserver_pkg }} state=present update_cache=yes
  register: pkg_result
  until: pkg_result is success

- name: ensure /usr/local/lib in ld.so.conf
  lineinfile:
    dest: /etc/ld.so.conf.d/libc.conf
    line: '/usr/local/lib'
    create: yes
    backup: yes

## https://github.com/google/grr/blob/master/vagrant/install_linux.sh#L40 temporary?
- name: Disable selinux during build
  selinux: state=disabled

## build rpm ?
## https://github.com/google/grr/blob/master/config/centos/grr.spec.in

- name: yum | Mysql datastore dependencies
  yum: name={{ grr_datastore_mysql_pkg }} state=present
  when: grr_datastore is defined and grr_datastore == 'MysqlAdvanced' and grr_datastore_mysql_host == 'localhost'
  register: pkg_result
  until: pkg_result is success

- name: Redhat | Ensure Mysql/Mariadb is running and enabled on boot.
  service: name=mariadb state=started enabled=yes
  when: grr_datastore is defined and grr_datastore == 'MysqlAdvanced' and grr_datastore_mysql_host == 'localhost'

#- include: source-build.yml
- include: grr-pip.yml

- name: Enable selinux
  selinux:
    policy: targeted
    state: enforcing
